// 颜色
@gray-base: #adadad;
@gray-normal: #7d8089;
@black-normal: #1A1A1A;

.flex {
  display: flex;
  justify-content: space-between;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.page {
  min-height: 100vh;
}

.mr10 {
  margin-right: 10px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.ml10 {
  margin-left: 10px !important;
  cursor: pointer;
}

.mb14 {
  margin-bottom: 14px !important;
}


.font12 {
  font-size: 12px !important;
}

// 列表公共 - 搜索条件
.searchBox {}